table{
	border-collapse:collapse;
}
table img{
	width:120px;
	margin:0;
	padding:0;
	border:0;
}
tr,td{
	margin:0;
	padding:0;
	border:1px solid black;
	font-size:0;
}
table.bg{
	width:1200px;
}
td.bg{
	width:120px;
	height:96px;
}

table.Karthaus td{
	width:120px;
	max-height:80px;
}
table.hammer td{
	width:120px;
	max-height:96px;
}